{
  "singleQuote": true,
  "tabWidth": 4,
  "semi": true,
  "printWidth": 120,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "useTabs": false
}
